@using Microsoft.AspNetCore.Authorization
@inherits LayoutComponentBase
@attribute [Authorize(Roles = "Editor")]

<div class="min-vh-100 d-flex flex-column">
    <nav class="navbar navbar-expand-lg bg-primary">
        <div class="container-fluid">
            <a class="navbar-brand text-white" href="/editor/dashboard">
                <i class="bi bi-pencil-square me-2"></i>
                Editor - Publicadora Magna
            </a>
            <div class="navbar-nav ms-auto">
                <a class="nav-link text-white" href="/editor/dashboard">Dashboard</a>
                <a class="nav-link text-white" href="/editor/articulos-pendientes">Pendientes</a>
                <a class="nav-link text-white" href="/editor/articulos-aprobados">Aprobados</a>
                <a class="nav-link text-white" href="/Account/Logout">Salir</a>
            </div>
        </div>
    </nav>

    <main class="flex-grow-1">
        @Body
    </main>
</div>